<?xml version='1.0' encoding='utf-8'?>
<widget id="com.timely.app" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Timely</name>
    <description>Track how long it's been since you last did something</description>
    <author email="anamatoso92+timely@gmail.com" href="https://anamatoso.github.io">Ana Matoso</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="android-targetSdkVersion" value="33.0.0" />
        <icon density="hdpi" src="www/res/icon/android/hdpi.png" />
    </platform>
    
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff0f172a" />
    <preference name="Fullscreen" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
</widget>